@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
}
.telegram {
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  width: 40px;
}
.telegram a {
  color: #0088ff;
  font-size: 3rem;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.logo span {
  padding: 10px;
}
.logo span img {
  width: 80%;
  object-fit: cover;
}
.logo h1 {
  font-family: var(--font-family);
  color: #161616;
  font-size: 1.2rem;
  display: none;
}

.body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 50%;
  box-sizing: border-box;
}

.form-title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #161616;
  font-family: var(--font-family);

}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.input-container span {
  display: inline-flex;
  justify-content: space-between;
  width: 80%;
  border-radius: 0.5rem;
}
.input-container #Iformx {
  border: 1px solid #e5e7eb;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
#itext {
  width: 78%;
}
#show {
  cursor: pointer;
}
#footer {
  font-size: .7rem;
  color: var(--color);
  font-family: var(--font-family);
  font-weight: bold;
}
.input-container span p {
  padding: 1%;
  margin: 0;
  font-family: var(--font-family);
  text-transform: capitalize;
}

.input-container input {
  background-color: var(--background-color);
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 80%;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}
.error {
  color: red;
  font-size: .8rem;
  font-weight: bold;
  font-family: var(--font-family);
}
.input-container span label {
  padding: 10px;
  cursor: pointer;
  background-color: var(--background-color);
}

.input-container span label .icon {
  color: var(--color);
  border: 1px solid var(--color);
  border-radius: 0.2rem;
  font-size: larger;
}
.input-container input, .form button {
  outline: none;
  border: 0px solid; 
}


.submit {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #0088ff;
  color: var(--background-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 80%;
  border-radius: 5rem;
  text-transform: uppercase;
}

@media (max-width: 990px) and (min-width: 768px){
  .container {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.form {
  width: 80%;
}
.telegram {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 3rem;
}

}

@media screen and (max-width: 767px){
 
.container {
  width: 100%;
}

.logo {
  width: 100%;  
}
.logo span img {
  display: none;
}
.logo h1 {
  display: block;
  color: #161616;
}

.form {
  width: 100%;
}
.input-container #Iformx {
  width: 100%;
}

.input-container #Iformx input {
  width: 100%;
  font-size: .8rem;
}
.error {
  font-size: .7rem;
  width: 100% !important;
}
#itext {
  width: 100%;
}
#footerx {
  width: 100%;
}
.telegram {
  position: fixed;
  right: 1.3rem;
  bottom: 1rem;
  font-size: 3rem;
}

}
